.bg-black-transparent {
  background-color: #1212122f;
}

div.bg1 {
  background-image: url("assets/main-bg.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-brand {
  padding-left: 30px;
  padding-right: 100px;
  width: 77px;
  height: 33px;
  left: 107px;
  top: 28.7px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}
nav.navbar {
  left: 0%;
  right: 0%;
  top: -0.03%;
  bottom: 90.66%;
}
.nav-link {
  width: 100px;
  height: 20.19px;
  left: calc(50% - 67.51px / 2 - 360.25px);
  top: calc(50% - 20.19px / 2 - 432.6px);

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.h1-style {
  height: 73.12px;
  left: 9.22%;
  right: 10.47%;
  top: calc(50% - 73.12px / 2 - 130.06px);
  padding-top: 10%;

  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}
h3 {
  left: 33.84%;
  right: 29.66%;
  top: 46.23%;
  bottom: 50.89%;
  padding-top: 10%;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 2px;

  color: #ffffff;
}

.btn-warning {
  left: 40.83%;
  right: 41.09%;
  top: 55.07%;
  bottom: 38.68%;
  font-weight: bold;
  padding-right: 30px;
  padding-left: 30px;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  text-align: center;
}

.text1 {
  font-size: 12px;
  font-family: "open sans", "sans-serif";
  margin-top: 160px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 30px;
}
.element2 {
  background: url("../assets/bg\ image\ 2.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.element3 {
  background: url("../assets/bg\ image\ 2.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.element4 {
  background: url("../assets/bg\ image\ 2.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.element5 {
  background: url("../assets/bg\ image\ 2.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
